.container{
    .nav-div{
        display: flex;//could make display flex and JC center a mixin
        justify-content: center;

        .navbar{
        .nav-header{
            font-size: 4rem;
            padding-bottom: 1.6rem;
            width: 100%;
            padding-left: 37%;
            
            h1{
                color: #F0FFF0;

            }
        }

        .nav-links{
            display: flex;
            justify-content: space-between;
            

            a{
                text-decoration: none;
                color: #F0FFF0
                ;
                font-size: 1.5rem;
                padding: 2rem;
            }
        }
    }
    }//closes nav-div
}//closes container